body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search{
  height: 40px;
  width: 50%;
  border-radius: 50px;
  outline: none;
  margin-right: -35px;
  border: 2px solid #DFCBA6;
}

.d-flex input{
  text-align: center;
  color: #9e3f22;
  font-weight: 700;
}
.btn0{
  /* height: 40px; */
  width: 50%;
  outline: none;
  border: none;
  background:  #23464d;
  color: white;
  border-radius: 10px;
  font-weight: 500;
}
/* END OF NAVBAR */
body{
  overflow-x: hidden;
}

h1{
  font-weight: 700;
}

.btn1{
  width: 45%;
  outline: none;
  border: none;
  background:  #a1a1a1;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  margin-right: 8px;
  font-size: 1.3em;
}

.btn1:hover{
  background-color: #c0c0c0;
  transition: 0.5s;
}

.btn0:hover{
  background-color: #5c8992;
  transition: 0.5s;
}

/* Content */

.card-content{
  overflow: hidden;
  border: 0 !important;
  border-radius: 10px !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0.1);
}

.card-content:hover{
  box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
  transition: 0.5s;
  cursor: pointer;
}

.img-fluid {
  height: 300px !important;
}

/* .card{
  overflow: hidden;
  border: 0 !important;
  border-radius: 10px !important;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0.1);
} */

.zoom-img {
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.zoom-img:hover {
  color: #da5656 !important;
  /* background-color: aqua !important; */
  font-size: 20px;
  opacity: 1;
}

.pop-up {
  display: block !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.btn-close {
  background-color: white !important
}

.pop-img {
  width: 75%;
}

.modal-header {
  border-bottom: none !important;
}


.btn-outline-dark{

  height: 45px;
  box-sizing: border-box;
  box-shadow: none;
  border: 1px solid #00000020;
  border-radius: 50px;
  background: transparent;
  margin-bottom: 20px;
}


.text-indiv p{
  font-size: 1.1rem;
}